@charset "UTF-8";
.slick-active {
  outline: none; }

html {
  font-size: 14px; }

body {
  margin: 0;
  background-color: #eef3f5;
  color: #131313;
  font-family: 'Roboto', sans-serif;
  padding-top: 40px; }

h2 {
  font-size: 24px; }

a {
  color: #009adf; }

.btn {
  padding: 20px 30px;
  display: inline-block;
  background-color: #009adf;
  color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-decoration: none;
  font-weight: 700; }
  .btn-primary {
    border-bottom: 5px solid #0077ac; }
    .btn-primary:hover {
      background-color: #00a1e9; }

.top-nav {
  background-color: #fff;
  padding: 15px; }
  .top-nav_menu {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .top-nav_menu li {
      margin-right: 45px; }
      .top-nav_menu li a {
        text-transform: uppercase;
        text-decoration: none;
        color: #131313;
        font-weight: 700; }
        .top-nav_menu li a::after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: #009adf;
          -webkit-transform: translateY(10px) scale(0);
              -ms-transform: translateY(10px) scale(0);
                  transform: translateY(10px) scale(0);
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
        .top-nav_menu li a:hover {
          text-decoration: none; }
          .top-nav_menu li a:hover::after {
            -webkit-transform: translateY(40px) scale(1);
                -ms-transform: translateY(40px) scale(1);
                    transform: translateY(40px) scale(1); }

.left-sidebar {
  margin-top: 40px; }
  .left-sidebar_menu {
    background-color: #fff;
    list-style: none;
    padding: 0; }
    .left-sidebar_menu li {
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s; }
      .left-sidebar_menu li:first-child a {
        padding-top: 20px; }
      .left-sidebar_menu li:last-child a {
        padding-bottom: 20px; }
      .left-sidebar_menu li:hover {
        background-color: #009adf; }
        .left-sidebar_menu li:hover a {
          color: #fff; }
      .left-sidebar_menu li a {
        display: block;
        padding: 15px 29px;
        text-decoration: none;
        color: #131313;
        font-size: 16px;
        font-weight: 400; }
  .left-sidebar_object {
    background-color: #fff;
    margin-top: 30px; }
    .left-sidebar_object-description {
      padding: 30px; }
      .left-sidebar_object-description h3 {
        text-transform: uppercase;
        font-weight: 400; }

.content {
  margin-top: 40px;
  margin-bottom: 75px; }
  .content h2 {
    font-size: 24px; }

.directions {
  margin-top: 80px; }
  .directions-block {
    background-color: #fff;
    height: 220px;
    text-align: center;
    padding: 10px;
    background-position: bottom center;
    background-repeat: no-repeat; }
    .directions-block h3 {
      color: #009adf; }

.footer {
  margin-top: 60px;
  background-color: #131313;
  color: #6666;
  padding: 59px 0; }
  .footer-policy-link {
    font-size: 12px; }
  .footer a {
    color: #6666;
    text-decoration: none; }
    .footer a:hover {
      color: #fff; }
  .footer small {
    display: block;
    margin-top: 56px;
    line-height: 16px;
    font-size: 10px;
    max-width: 80%; }
  .footer ul {
    list-style: none;
    padding: 0; }
    .footer ul li {
      line-height: 32px; }
  .footer-contacts, .footer-social-links {
    text-align: right; }
    .footer-contacts_phone {
      font-weight: 400;
      font-size: 20px;
      color: #009adf; }
  .footer-social-links li {
    display: inline-block;
    margin-left: 10px; }
    .footer-social-links li a {
      display: inline-block;
      width: 35px;
      height: 35px;
      background-color: rgba(255, 255, 255, 0.1);
      text-align: center;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .footer-social-links li a:hover {
        background-color: rgba(255, 255, 255, 0.2); }
      .footer-social-links li a i {
        font-size: 18px;
        line-height: 35px;
        color: #fff; }

/* Team */
.team {
  text-align: center; }
  .team h4 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px; }

/* Contacts */
.contacts {
  font-size: 16px; }
  .contacts p i {
    margin-right: 12px;
    color: #009adf; }
  .contacts-address {
    margin-bottom: 20px; }
  .contacts-btn {
    margin-top: 20px; }
  .contacts-social-links {
    margin-top: 30px; }
    .contacts-social-links ul {
      padding: 0; }
      .contacts-social-links ul li {
        display: inline-block;
        margin-left: 19px; }
        .contacts-social-links ul li a {
          display: inline-block;
          width: 32px;
          height: 32px;
          background-color: rgba(0, 154, 223, 0.9);
          text-align: center;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
          .contacts-social-links ul li a:hover {
            background-color: rgba(0, 154, 223, 0.5); }
          .contacts-social-links ul li a i {
            font-size: 18px;
            line-height: 32px;
            color: #fff; }

/* Organization */
.organization-card {
  background-color: #fff;
  padding: 25px 30px;
  margin-bottom: 30px;
  min-height: 30rem;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .organization-card:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 1, 0.1);
            box-shadow: 0 5px 10px rgba(0, 0, 1, 0.1); }
  .organization-card a {
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    color: #009adf; }
  .organization-card small {
    display: block;
    сolor: #757575FF;
    font-size: 12px;
    line-height: 1.5; }
  .organization-card p {
    line-height: 22px; }

/* Investments */
.calc-programs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .calc-programs-radio {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; }
    .calc-programs-radio:last-child {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
  .calc-programs label {
    display: inline-block;
    margin-bottom: 20px; }
    .calc-programs label small {
      display: block;
      margin-left: 28px;
      font-size: 10px;
      opacity: 0.5; }
    .calc-programs label:hover {
      cursor: pointer; }
    .calc-programs label::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 1, 0.1);
              box-shadow: 0 5px 10px rgba(0, 0, 1, 0.1);
      background-color: #fff;
      border: 6px solid #fff;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s; }
  .calc-programs input[type="radio"] {
    display: none; }
    .calc-programs input[type="radio"]:checked + label::before {
      background-color: #009adf;
      border: 6px solid #fff; }

.calc-popular {
  width: 50%;
  height: 25px;
  margin-left: 15px;
  background-color: #009adf;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  text-transform: uppercase;
  position: relative; }
  .calc-popular::before {
    content: '';
    width: 6px;
    height: 13px;
    background-color: #009adf;
    position: absolute;
    left: -12px;
    top: 50%;
    margin-top: -6px;
    border: 6px solid transparent;
    border-right: 6px solid #009adf; }
